/*reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*/reset*/

/*generals*/
body{
  font-family: 'Montserrat', sans-serif;
}

.container{
  width: 70%;
  margin: auto;
}

.listed_items{
 list-style: none;
 display: inline-block;
}

.linked_items{
 text-decoration: none;
 font-size: 11px;
 font-weight: 500;
 color: rgb(77, 99, 114);
}

.float{
  float: left;
}

/*clearfix*/
.container::after{
  content: "";
  display: block;
  clear: both;
}
/*/clearfix*/

.icons{
  font-size: 11px;
  color: rgb(77, 99, 114);
  vertical-align: middle;
}

.button{
  color: #FFFFFF;
  background-color: rgb(252, 119, 95);
  padding: 15px 25px;
  border-radius: 5px;
  border: 1px solid rgb(252, 119, 95);
}

.paragraph{
 color: rgb(64, 86, 104);
 font-size: 12px;
 font-weight: 500;
 line-height: 22px;
}

.litte{
  font-size: 9px;
}

.title{
  color: rgb(51, 70, 89);
}
/*/generals*/


/*header*/
/*upper_nav*/
.upper_nav{
  background-color: rgb(244, 249, 253);
  border-bottom: 1px solid rgb(89, 100, 111);
}

.left,.right{
  width: 50%;
  margin: 20px 0;
}

.right{
  text-align: right;
}

.fa-angle-down{
  font-size: 16px;
  margin-right: 10px;
}

.left li:first-child>.icons{
  margin-right: 5px;
}

.fa-search{
  color: rgb(49, 168, 190);
  margin-right: 12px;
}

.small{
  padding: 8px;
}

.white{
  color: rgb(251, 122, 94);
  background-color: #FFFFFF;
  border: 1px solid rgb(251, 122, 94);
  margin-right: 13px;
}

.left .listed_items:last-child>.linked_items{
  border-left: 1px solid rgb(77, 99, 114);
  padding-left: 10px;
}
/*/upper_nav*/

/*lower_nav*/
.hubspot_logo{
  width: 18%;
}

.pricing{
  margin-right: 10px;
  display: inline-block;
}

.second_list .icons{
  margin-left: 8px;
}
/*/lower_nav*/

/*hero*/
.hero{
  background-color: rgb(255, 243, 238);
  height: 483px;
  background-image: url("../img/jumbotron.png");
  background-size: 1100px 550px;
  background-repeat: no-repeat;
  background-position: top right;
}

.hero>.container{
  position: relative;
}

.text_box{
  width: 50%;
  position: absolute;
  top: 40px;
}

.main{
  font-size: 37px;
  margin-bottom: 25px;
}

.text_box>.button{
  margin: 25px 0;
  display: inline-block;
}
/*/hero*/

/*baseline*/
.baseline{
  background-color: rgb(177, 235, 228);
  height: 65px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
/*/baseline*/
/*/header*/

/*main*/
/*first_section*/
/*generals*/
.first_section .container:nth-child(2), .first_section .col{
 background-color: rgb(255, 255, 255);
}

.medium{
  width: 135px;
  margin: 20px 0;
  text-align: center;
  display: inline-block;
}

.fourth{
  text-transform: uppercase;
  font-size: 15px;
}

.hr{
  color: rgb(135, 145, 149);
}

.check{
  font-size: 12px;
  margin-right: 10px;
  color: rgb(249, 118, 94);
}
/*/generals*/
.first_section{
  background-color: rgb(244, 249, 253);
}
/*cube's_section*/
.first_section .container:first-child{
  text-align: center;
  width: 55%;
}

.cube{
  margin-bottom: 40px;
}

.rubik{
  width: 200px;
  margin-top: 50px;
}

.first_section .paragraph{
  margin: 20px 0;
}
/*/cube's_section*/

/*first_row*/
.left_box{
  width: 28%;
  text-align: center;
  padding: 60px 60px 50px 60px;
}

.right_box{
  width: 72%;
  padding: 60px 60px 30px 60px;
}

.book{
  width: 125px;
}

.right_box .linked_items{
  display: inline-block;
  margin: 30px 20px 30px 0;
}

/*vertical_align*/
.vertical_align .fourth,.fr{
  display: inline-block;
}

.fr{
  width: 320px;
  margin-left: 40px;
}

.vertical_align h4,.vertical_align hr{
  vertical-align: middle;
}
/*/vertical_align*/
/*/first_row*/

/*second_row*/
/*generals*/
.col{
  width:calc((100% - 80px) / 3);
  margin: 40px 0;
  text-align: center;
  padding: 20px 30px 0 30px;
}

.image{
  width: 100%;
  height: 100%;
}

.col .listed_items{
  display: block;
  text-align: left;
  line-height: 14px;
}

.box_image{
  width: 50%;
  height: 90px;
  margin: auto;
}

.third{
  margin: 25px 0 30px 0;
}
/*/generals*/
.mid{
  margin: 40px 40px;
}

.sales{
  object-fit: cover;
}

.col .paragraph{
  letter-spacing: -1px;
}

.col .sr{
  margin: 50px 0 25px 0;
}

.col .fourth{
  margin-bottom: 25px;
}

.col ul{
  margin-bottom: 25px;
}
/*/second_row*/

/*box_shadow*/
.shadow{
  box-shadow: 0 0 2px 2px rgb(234, 240, 245);
  border-radius: 5px;
}
/*/box_shadow*/
/*/first_section*/

/*second_section*/
.second_section{
  background: rgb(26,168,184);
  background: linear-gradient(90deg, rgba(26,168,184,1) 32%, rgba(29,183,169,1) 100%);
}

.second_section .container{
  text-align: center;
}

.second_section .title{
  display: inline-block;
  letter-spacing: -0.1px;
  margin: 40px 0 30px 0;
}

.second_section>.container>.paragraph{
  margin-bottom: 40px;
}

.square{
  width: 25%;
  margin-bottom: 80px;
}

.little_img{
  width: 100%;
  height: 25px;
  margin-top: 15px;
}

.number{
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0;
}

.square .paragraph{
  padding-bottom: 10px;
}

.second_section .title,.second_section .paragraph,.second_section .icons,.number{
  color: white;
}

/*borders*/
.bb{
  border-bottom: 1px solid white;
  width: 100%;
}

.br{
  border-right: 1px solid white;
  display: inline-block;
}
/*/borders*/
/*/second_section*/

/*third_section*/
.left>h4{
  font-size: 35px;
}

.sponsor{
  width: 20%;
  vertical-align: middle;
}

.sponsor:not(.right>.sponsor:nth-of-type(4n+4)){
  margin-right: 15px;
}

.third_section .container:nth-of-type(2)>.left{
  width: 44%;
}

.third_section .container:nth-of-type(2)>.right{
  width: 56%;
}

.third_section .third{
  font-size: 25px;
}

.left>.button{
  margin: 25px 0;
  display: inline-block;
}

.girl{
  width: 55%;
}
/*/third_section*/
/*/main*/
